<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>A.LOHA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		
		  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
		  <!-- Favicons -->
		<link href="img/logoaloha.png" rel="icon">
		<link href="img/logoaloha.png" rel="apple-touch-icon">
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="https://www.instagram.com/2a.loha/">@2a.loha <a href="https://www.instagram.com/2a.loha/" class="icon round fa-instagram"><span class="label">Instagram</span></a>
				
				</div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="">Home</a></li>
					<li><a href="servicios">Servicios</a></li>
					<li><a href="bd">Base de datos</a></li>
					<li><a href="mejoras">Mejoras</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="banner" class="bg-img" data-bg="banner.jpg">
				<div class="inner">
					<header>
						<h1>A.LOHA</h1>
					</header>
				</div>
				<a href="#one" class="more">Learn More</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="banner2.jpeg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Ropa 100% hecha a mano</h2>
						</header>
					</article>
				</div>
				<a href="#four" class="more">Learn More</a>
			</section>

		

		<!-- Four -->
			<section id="four" class="wrapper post bg-img" data-bg="banner3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>CUSTOMIZACIÓN AL GUSTO DEL CLIENTE</h2>
							<p>Dale una segunda vida a tu ropa. Tu propones la iea y nosotros te lo hacemos</p>
						</header>
					</article>
				</div>
				<a href="#five" class="more">Learn More</a>
			</section>

		<!-- Footer -->
		<section id="five">
			<footer id="footer">
				<div class="inner">


					<div class="copyright">
						&copy; Sergio Celada. TING .
					</div>

				</div>
			</footer>
		</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>