<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>A.LOHA</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/logoaloha.png" rel="icon">
  <link href="img/logoaloha.png" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
  
  
  <link rel="stylesheet" href="assets/css/main2.css" />
  
  
  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
 
  
  
  
  
  
  
  

  <!-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="page-top">



<!-- Header -->
			<header id="header">
				<div class="logo"><a href="https://www.instagram.com/2a.loha/">@2a.loha <a href="https://www.instagram.com/2a.loha/" class="icon round fa-instagram"><span class="label">Instagram</span></a>
				
				</div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="servicios">Servicios</a></li>
					<li><a href="bd">Productos</a></li>
					<li><a href="mejoras">Opiniones de los clientes</a></li>
				</ul>
			</nav>


  <!--/ Section Portfolio Star /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              A.LOHA
            </h3>
            <p class="subtitle-a">
              NUESTROS SERVICIOS
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="https://instagram.fsvq2-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p750x750/109728773_824233221644787_4458416844433429561_n.jpg?_nc_ht=instagram.fsvq2-1.fna.fbcdn.net&_nc_cat=103&_nc_ohc=EpXSmx6BAEIAX9xxzm3&_nc_tp=24&oh=d6eca8ec2c9158541ef5da3288399fd7&oe=5FD394E8" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="https://instagram.fsvq2-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p750x750/109728773_824233221644787_4458416844433429561_n.jpg?_nc_ht=instagram.fsvq2-1.fna.fbcdn.net&_nc_cat=103&_nc_ohc=EpXSmx6BAEIAX9xxzm3&_nc_tp=24&oh=d6eca8ec2c9158541ef5da3288399fd7&oe=5FD394E8" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Costura</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Cosemos y customizamos todos nuestros productos a mano y al gusto de nuestros clientes.</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="https://instagram.fsvq2-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s750x750/102407651_149404446653518_1715913061417321983_n.jpg?_nc_ht=instagram.fsvq2-1.fna.fbcdn.net&_nc_cat=110&_nc_ohc=zIT2-S7Yf1AAX_7Gyy6&_nc_tp=24&oh=5d990816d175631b60d6c6ca03bd2e5c&oe=5FD21322" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="https://instagram.fsvq2-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s750x750/102407651_149404446653518_1715913061417321983_n.jpg?_nc_ht=instagram.fsvq2-1.fna.fbcdn.net&_nc_cat=110&_nc_ohc=zIT2-S7Yf1AAX_7Gyy6&_nc_tp=24&oh=5d990816d175631b60d6c6ca03bd2e5c&oe=5FD21322" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Pintura</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Damos una segunda vida a los productos de los clientes, personalizando al gusto.</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="https://instagram.fsvq2-2.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p750x750/106477614_273839927217253_7473942187312812067_n.jpg?_nc_ht=instagram.fsvq2-2.fna.fbcdn.net&_nc_cat=101&_nc_ohc=zOKJkrYbdb4AX9QQu4k&_nc_tp=24&oh=1cd41e43ab7dfbedeb334ad260a65a6b&oe=5FD08382" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="https://instagram.fsvq2-2.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p750x750/106477614_273839927217253_7473942187312812067_n.jpg?_nc_ht=instagram.fsvq2-2.fna.fbcdn.net&_nc_cat=101&_nc_ohc=zOKJkrYbdb4AX9QQu4k&_nc_tp=24&oh=1cd41e43ab7dfbedeb334ad260a65a6b&oe=5FD08382" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Bisutería</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Gran variedad de pendientes, collares y anillos, hechos a mano y al gusto del cliente.</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->


  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/popper/popper.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/counterup/jquery.waypoints.min.js"></script>
  <script src="lib/counterup/jquery.counterup.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/typed/typed.min.js"></script>
  
  
  <!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>



</body>
</html>